<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceRestauranteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceRestauranteSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44348/WebServiceRestaurante.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceRestauranteSoap"
                contract="ServiceReference1.WebServiceRestauranteSoap" name="WebServiceRestauranteSoap" />
        </client>
    </system.serviceModel>
</configuration>